@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<h2>Index</h2>
<script>
    //jQuery(document).ready(function () {
    //    alert(111111111111);
    //});

    //$(document).ready(function () {
    //    alert(2222222222);
    //})

    //jQuery(function () {
    //    alert(3333333333);
    //})

    $(function () {
        alert(44444444444);
    })

</script>
